<p-dropdown [options]="jobList" [(ngModel)]="selectedJob" (onChange)=jobSelectionChanged($event) optionLabel="job" [filter]="true" [showClear]="true" placeholder="Select a Job">
    <ng-template pTemplate="selectedItem">
        <div class="jobList-item jobList-item-value" *ngIf="selectedJob">
            {{selectedJob}}
        </div>
    </ng-template>
    <ng-template let-job pTemplate="item">
        <div class="job-item">
            <div>{{job}}</div>
        </div>
    </ng-template>
</p-dropdown>

<p-table #dt styleClass="p-datatable-sm">
    <ng-template pTemplate="caption">
        <!-- <p-multiSelect [options]="jobList" placeholder="Select Jobs" (onChange)="jobSelectionChanged($event)"
            styleClass="p-column-filter" optionLabel="name">
            <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                    <span class="p-ml-1">{{option}}</span>
                </div>
            </ng-template>
        </p-multiSelect> -->
        <!-- <p-dropdown [options]="jobList" (onChange)=jobSelectionChanged($event) styleClass="p-column-filter" placeholder="Select a Job" [showClear]="true">
            <ng-template let-job pTemplate="item">
                {{job}}
            </ng-template>
        </p-dropdown> -->

        <div class="card">
            <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </ng-template>
</p-table>